rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /ashaMiniShallow/{docId} {
      allow read, write: if true;
    }
  }
}
